# This sets the `.gitignore` to be a *whitelist* by default.
**/**
!*/


# Whitelist
!*.md
!.gitignore
!build.zig
!build.zig.zon
!.github/**
!*.html
!*.js

!*.zig

!package.json
!.prettierrc
!.prettierignore

# Blacklist (overrides Whitelist)
**/zig-out/**
**/zig-cache/**
**/.zig-cache/**

node_modules/**

vendor/**
